<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">Shopping Quantity Application</a>
    </div>
  </nav>
  
  <br><br><br> 
  
  <form (ngSubmit)="addToCart()">
    <div style="display: flex; align-items: center;">
     
      <div>
        <img src="assets/iphone15.png" alt="iPhone15" width="500px">
      </div>
  
      
      <div class="product">
        <h2>Iphone 15</h2>
        <p>The Apple iPhone 15 is a smartphone that was designed, manufactured, and sold by Apple Inc. It is the fifteenth generation of the iPhone. It was announced on September 14, 2023, alongside the iPhone 15 Mini, iPhone 15 Pro, and iPhone 15 Pro Max at the Steve Jobs Theater in Apple Park, Cupertino by Apple CEO Tim Cook.</p>
        <span>Price: $999</span>
        <p>Quantity left: <strong>{{ availableStock1 }}</strong></p> 
        <div class="quantity">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" min="1" max="20" [(ngModel)]="count" (change)="validateQuantity()" />
  
          <p style="color: red;" *ngIf="maximum">Maximum quantity is 10.</p>
          <p style="color: red;" *ngIf="minimum">Minimum quantity must be 1.</p>
        </div>
  
        <button class="btn btn-outline-success" type="submit">Add To Cart</button>
      </div>
    </div>
  </form>
  


  <form (ngSubmit)="addToCart()">
    <div style="display: flex; align-items: center;">
   
      <div>
        <img src="assets/pixel8.jpg" alt="pixel8" width="500px">
      </div>
  
      
      <div class="product">
        <h2>Pixel 8</h2>
        <p>The Google Pixel 8 is a smartphone that was designed, manufactured, and sold by Google Inc. It is the eighth generation of the Pixel series. It was announced on October 15, 2023, alongside the Pixel 8a, Pixel 8 Pro, and Pixel 8 XL at the Google Pixel event in Mountain View by Google CEO Sundar Pichai.</p>
        <span>Price: $799</span>
        <p>Quantity left: <strong>{{ availableStock2 }}</strong></p>
        <div class="quantity">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" min="1" max="15" [(ngModel)]="count" (change)="validateQuantity()" />
  
          <p style="color: red;" *ngIf="maximum">Maximum quantity is 15.</p>
          <p style="color: red;" *ngIf="minimum">Minimum quantity must be 1.</p>
        </div>
  
        <button class="btn btn-outline-success" type="submit">Add To Cart</button>
      </div>
    </div>
  </form>

  

  <form (ngSubmit)="addToCart()">
    <div style="display: flex; align-items: center;">
     
      <div>
        <img src="assets/s24ultra.jpg" alt="s24ultra" width="500px">
      </div>
  
      
      <div class="product">
        <h2>s24 ultra</h2>
        <p>The Samsung Galaxy S30 is a smartphone that was designed, manufactured, and sold by Samsung Inc. It is the thirtieth generation of the Galaxy S series. It was announced on January 14, 2023, alongside the Galaxy S30 Mini, Galaxy S30 Plus, and Galaxy S30 Ultra at the Samsung Galaxy Unpacked event in Seoul by Samsung CEO DJ Koh.</p>
        <span>Price: $899</span>
        <p>Quantity left: <strong>{{ availableStock3 }}</strong></p>
        <div class="quantity">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" min="1" max="10" [(ngModel)]="count" (change)="validateQuantity()" />
  
          <p style="color: red;" *ngIf="maximum">Maximum quantity is 10.</p>
          <p style="color: red;" *ngIf="minimum">Minimum quantity must be 1.</p>
        </div>
  
        <button class="btn btn-outline-success" type="submit">Add To Cart</button>
      </div>
    </div>
  </form>